<div class="container">
  <div class="mt-5 mx-5">
    <div class="card">
      <div class="creat-head">
        <h1>Ürün Ekleme</h1>
        <hr>
        <form action="">
          <div class="row">
            <div class="col-5">
              <div class="input-group mb-3 mt-2">
                <img src="../../../public/Ekran görüntüsü 2022-08-29 190449.png" alt="">
                <label class="input-group-text" for="inputGroupFile01">Resim Ekleme</label>
                <input type="file" class="form-control" id="inputGroupFile01">
              </div>
            </div>
            <div class="col-7">
              <div class="input-group mb-3 mt-2">
                <label class="input-group-text" for="product-name">Ürün Adı</label>
                <input type="text" class="form-control" id="product-name">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
