#dropdownMenuLink {
  border-radius: 20px;
}

.nav-link {
  font-weight: 600;
}

.main-head {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main-icon{
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.description {
  margin-top: 200px;
  margin-left: 100px;
  width: 80%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
}

.main-paragraph {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
