<!-- <category-list></category-list> -->

<!-- @for() {

} -->

@if(!loading) {
  @if(products.length > 0 || noProducts) {
      <ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{productsas: products}"></ng-template>
  }
}



<ng-template #productList let-products="productsas">
  <div *ngFor="let product of products">
      @if(product.isActive) {
        <div class="card mb-3 p-1">
          <div class="row">
              <div class="col-3">
                  <!-- <img src="assets/images/{{ product.imageUrl }}" alt="" class="img-fluid rounded-start"> -->
              </div>
              <div class="col-9">
                  <div class="card-body">
                      <h5 class="card-title"> {{ product.name }} </h5>
                      <!-- <a routerLink="/products/{{ product.id }}" class="btn btn-primary"> Ürün Detay </a> -->
                  </div>
              </div>
          </div>
        </div>
      }
  </div>
</ng-template>


<ng-template #noProducts>
  <div class="alert alert-warning">
      No Products
  </div>
</ng-template>


<div class="spinner-border text-primary" role="status" id="loading">
  <span class="visually-hidden">Loading...</span>
</div>


